/auto-save-list
/.session
/session.*
/custom.el
*.elc
*~
/elpa
/elpa-*
site-lisp/package/
/swank
/history
/recentf
/projectile-bookmarks.eld
places
projectile.cache
transient/
amx-items
.lsp-session-*
/gtd
bookmarks
